.App {
  text-align: center;
  /*background-image: linear-gradient(to right, rgb(0,81,219), rgb(71,191,165)); */
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@media only screen and (max-width: 730px) {
  body {
    background-color: lightblue;
  }
}


@media only screen and (max-width: 380px) {
  body {
    background-color: lightblue;
  }
}