.card-list {
    display: flexbox;
    width: 100vw;
    flex-wrap: wrap;

    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    height: 100vh;
    flex-wrap: wrap;

}
.card-div{
    background: rgb(0, 0, 0);
    width: 350px;
    height: 350px; 
    position: relative;
    padding: 8px;
    display: flex;
    margin: 10px;
    align-content: space-between;
    box-shadow: 10px 10px 5px black;

} 

.image{
    width: 100%;
    width: 350px;
    height: 350px; 
    border-radius: 4px;
    transition: all .2s ease;
}

.row{

    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
}
.card-title{

    font-family: 'Roboto Mono', monospace;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 300px;
  }
.title-card {
    
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2vw;
}
.card-div:hover .hover-cards{

    transition: 0.2s ease-in-out;
    opacity: 1;
    padding: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    
}

.hover-cards {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgb(0, 0, 0);
    padding: 0;
}