.card-list {
    display: flexbox;
    width: 100vw;
    flex-wrap: wrap;

    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    height: 100vh;
    flex-wrap: wrap;

}
.card-div{
    background: rgba(145, 145, 145, 0.212);
    width: 350px;
    height: 350px; 
    position: relative;
    padding: 8px;
    display: flex;
    margin: 10px;
    align-content: space-between;
    box-shadow: 10px 10px 5px black;

} 
.card-div:hover{
    transition: 0.2s ease-in-out;
    padding: 0px;
    transition: all .2s ease;
}

.image{

    width: 100%;
    min-width: 334px;
    min-height: 334px;
    max-height: 334px;
    border-radius: 4px;
    transition: all .2s ease;
}
.image:hover{
    transition: 0.2s ease-in-out;
    width: 100%;
    min-width: 360px;
    min-height: 360px;
    max-height: 360px;
}
.row{

    display: flex;
    align-items: center;
    justify-content: center;
}
h3{

    font-family: 'Orbitron', sans-serif;
    margin: 5px;
}
.card-title{

    font-family: 'Orbitron', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 300px;
  }
.title-card {
    
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: drop-shadow(0 0 0.95rem #723398);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2vw;
}
.card-div:hover .hover-cards{

    transition: 0.2s ease-in-out;
    opacity: 1;
    padding: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    
}
.card-div:hover .image{
    transition: 0.2s ease-in-out;
    width: 100%;
    min-width: 350px;
    min-height: 350px;
    max-height: 350px;
}
.hover-cards {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(238, 229, 229, 0.52);
    padding: 0;
}